<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Covid Help</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}
</style>
<body>
    <div class="login">
        <h1>Covid Help</h1>

        <!-- Main Input For Receiving Query to our ML -->
        <form action="{{ url_for('find')}}" method="post">
            <div class="form-control">
                <input type="text" name="news" placeholder="Enter City" required="required" align = 'middle'/>
                <button type="submit" class="btn btn-primary btn-block btn-large">Enter</button>
            </div>
        </form>

        <br>
        <br>
        <div>
        </div>
        
        <div style="margin-top: 20px;">
            
            <p align = 'center'><b>What do I do?</b><br> Enter a city name into the text box and you would be redirected to a page with a list of latest leads scraped from twitter.
            </p>
            <p align = 'center'><b>Are the leads Verified?</b> <br> The leads are personally not verifed by me but can be verifed by the author of the tweet. The username is provided 
                for you to reach out to them
            </p>
            <p align = 'center'><b>What if the leads are wrong?</b><br> The leads are not verified by me, this website just fetches data from twitter using the twitter api and by using this app
                you agree that I(Mayukh Dewan) would not be responsible for any scam leads provided by the website. Please do your bakcground research before committing, Do NOT make advanced payments unless you are 100% sure about their authenticity.
            </p>
            <p align = 'center'><b>Why are the tweets so hard to read</b><br> This app was rushed and made under 24hrs, earlier versions of the app might have some useless tweets and unclean tweets. In a matter of days
                I will be looking to clean them out. There also may be some unknown bugs.
            </p>
        </div>

       
        <br>
        <br>
        <br>
        <br>
        <div><p>&#169; 2021 Mayukh Dewan </p></div>

    </div>


</body>

</html>
